[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
polars = "*"
pyarrow = "*"
boto3 = "*"
duckdb = "*"
pymysql = "*"
factory-boy = "*"
faker = "*"
black = "*"
isort = "*"
urllib3 = "*"
psycopg2-binary = "*"
ipython = "*"
numpy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
